@charset "UTF-8";

@font-face {
    font-family: 'sweetie';
    src: url(../Poppins/Poppins-Bold.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background: url(../image/img.jpg) no-repeat;
    opacity: 70px;
    background-size: cover;
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
section {
    border: 2px solid white;
    background-color: #00000053;
    backdrop-filter: blur(15px);
    height: 450px;
    width: 390px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.626);
    border-radius: 20px;
    color: white;
}
h1 {
    margin: 30px;
    text-align: center;
    padding: 10px;
    font-weight: normal;
    font-family: 'sweetie';
}

input {
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;

}
label {
    font-family: 'sweetie';
}
input[type=submit] {
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 82%;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #b42c50;
    color: white;
    border: none;
    margin:  15px 39px;
}
input[type=submit]:hover {
    background-color: #942744;
}

input[type=reset] {
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e63462;
    border: none;
    color: white;
    margin: auto;
    
}
input[type=reset]:hover {
    background-color: #942744;
}

img {
    display: block;
    margin: auto;
}
.unico {
    display: inline-block;
    padding-right: 10px;
}
.campo > i {
    width: 40px;
    font-size: 2em;
    padding: 5px;
}
.botao {
    margin-right: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: normal;
    background-color: #e63462;
    border-radius: 5px;
    padding: 10px 10px;
    margin-left: 38px;
    font-size: 0.8em;
}
.botao:hover {
    background-color: #942744;
}

.botao > i {
    font-size: 0.9em;
}
.campo {
    text-align: center;
    margin: auto;
}
#log {
    margin-top: 40px;
}