@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
section.imagem {
    background-attachment: fixed;
}
section#quem-somos {
    background-image: url(../image/Mulher.jpg);
    background-size: cover;
    background-position: right center;
}