@charset "UTF-8";

@font-face {
    font-family: 'sweetie';
    src: url(../Sweetie.otf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    background-image: linear-gradient( 45deg , #72402E, #de369e, #72402E);
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
section {
    background-color: #daf5ff;
    height: 410px;
    width: 390px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.626);
    border-radius: 20px;
}
h1 {
    text-align: center;
    padding: 10px;
    font-weight: normal;
    font-family: 'sweetie';
}

input {
    margin: 5px 10px;
    padding: 10px;
    border-radius: 10px;

}
label {
    font-family: 'sweetie';
}
input[type=submit] {
    border-radius: 10px;
    cursor: pointer;
    display: block;
    font-size: 1em;
    width: 95%;
    height: 40px;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e63462;
    color: white;
    border: none;
    box-shadow: 0px 1px 3px black;
    margin: 10px;
}
input[type=submit]:hover {
    background-color: #942744;
}

input[type=reset] {
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e63462;
    border: none;
    color: white;
    box-shadow: 0px 1px 3px black;
}
input[type=reset]:hover {
    background-color: #942744;
}

img {
    display: block;
    margin: auto;
}
.unico {
    display: inline-block;
    padding-right: 10px;
}
.campo > i {
    width: 40px;
    font-size: 2em;
    padding: 5px;
}
.botao {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: normal;
    background-color: #e63462;
    border-radius: 10px;
    padding: 10px 10px;
    margin-left: 38px;
    box-shadow: 0px 1px 3px black;
    font-size: 0.8em;
}
.botao:hover {
    background-color: #942744;
}

.botao > i {
    font-size: 0.9em;
}